<div class="modal-dialog modal-primary" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Keyboard Shortcuts</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>Key</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Clrl+Space</td>
            <td>Complete</td>
          </tr>
          <tr>
            <td>Ctrl+F</td>
            <td>Find</td>
          </tr>
          <tr>
            <td>Ctrl+H</td>
            <td>Replace</td>
          </tr>
          <tr>
            <td>Ctrl+/</td>
            <td>Toggle comment</td>
          </tr>
          <tr>
            <td>Ctrl-U</td>
            <td>Change to upper case</td>
          </tr>
          <tr>
            <td>Ctrl-Shift-U</td>
            <td>Change to lower case</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

