{% load static %}
<div class="modal-dialog modal-lg modal-primary">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Send Feedback</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form id="formFeedback" method="post" class="comment-form" action="/codechallenges/feedback">
        {% csrf_token %}
        <div class="checkbox">
          <label><input type="checkbox" name="includeEmail">
            Include my email
          </label>
        </div>
        <small class="form-text text-muted">We won't share your information</small>
        <div class="form-group">
          <label for="title">Feedback</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
          <label for="content">Description</label>
          <textarea name="content" name="textarea-input" id="content" rows="9" class="form-control"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <a href="#formFeedback" id="btnFeedback" data-dismiss="modal" class="btn btn-primary">Send</a>
    </div>
  </div>
</div>
