{% load static %}
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
      <h4 id="modalTitle" class="modal-title"></h4>
    </div>
    <div class="modal-body">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a id="tabSolution" data-toggle="tab" class="nav-link" href="#solutionTab">Solution</a></li>
        <li class="nav-item">
          <a data-toggle="tab" class="nav-link" href="#testcaseTab">Test case</a>
        </li>
        <li class="nav-item">
          <a data-toggle="tab" class="nav-link" href="#userAttemptTab">User answer</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="solutionTab" class="tab-pane fade in active">
          <div id="solution" style="height: 500px;"></div>
        </div>
        <div id="testcaseTab" class="tab-pane fade table-responsive">
        </div>
        <div id="userAttemptTab" class="tab-pane fade table-responsive">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

