<div class="card-body text-blue">
  <div class="row">
    <div class="col-md-8">
      <p>
        <b>Description:</b> {description}
      </p>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <p><b>Start:</b> {time_start}</p>
        </div>
        <div class="col-md-6 col-lg-4">
          <p><b>End:</b> {time_end}</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-end d-sm-down-none">
      {user_button}
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center">
      {action_button}
    </div>
  </div>
</div>
