{% load static %}
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="border-primary">
        <ul class="nav nav-tabs border-primary" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#codeeditor" role="tab" aria-controls="home" aria-expanded="true">
              <i class="icon-doc"></i>
              Code Editor
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#problem" role="tab" aria-expanded="false">
                <i class="icon-question"></i>
                Problem
              </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="codeeditor" role="tabpanel" aria-expanded="true">
            <div class="row">
              <div class="form-group col-sm-4">
                <select class="form-control" id="language" onchange="changeLanguage(this)">
                  <option value="cpp">C++ (Gcc 8.3)</option>
                  <option value="java">Java (version 11)</option>
                  <option value="js">NodeJS (version 10.16)</option>
                </select>
              </div>
              <div class="form-group col-sm-8">
                <a class="btn btn-outline-info float-right" style="margin-left: 10px;" href="#" data-target="#popupinfo" data-toggle="modal"><i class="icon-info"></i></a>
                <div class="input-group-btn float-right">
                <a class="btn btn-primary" href="#" onclick="compileAndRun(this)" action="compile_run"><i class="icon-rocket"></i>
                  Run
                </a>
                </div>
              </div>
            </div>
            <div id="editor" style="min-height: 500px;margin-left: -15px"></div>
          </div>
          <div class="tab-pane" id="problem" role="tabpanel" aria-expanded="false">
            <h5>{{ problem.title }}</h5>
            <hr />
            {{ problem.content|safe  }}
            <input type="hidden" id="problem_id" value="{{ problem.id }}">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-4">
      <div class="border-primary">
        <ul class="nav nav-tabs border-primary" role="tablist">
          <li class="nav-item ">
            <a class="nav-link active" data-toggle="tab" href="#iframeResult" role="tab" aria-expanded="true">
              <i class="icon-fire"></i>
              Console
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#custominput" role="tab" aria-expanded="false">
              <i class="icon-question"></i>
              Custom Input
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="iframeResult" role="tabpanel" aria-expanded="true">
            Click <b><i class="icon-rocket"></i> Run</b>
          </div>
          <div class="tab-pane" id="custominput" role="tabpanel" aria-expanded="true">
            <textarea id="cinput" name="custtominput" rows="2"
              class="form-control" placeholder="Your input goes here">{{ problem.testcase.first.input }}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="popupinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  {% include "modal/code-editor-help.html"%}
</div>

<script>
  ace.require("ace/ext/language_tools");
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/sqlserver");
  editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: true
  });

  lastCode = getCookie('problem-{{ problem.id }}')

  if (lastCode === null) {
    editor.getSession().setMode("ace/mode/c_cpp");
    editor.setValue(
`#include <iostream>

using namespace std;

int main()
{
    // your code goes here
    int val;
    cin >> val;
    cout << val;
    return 0;
}`
    );
  } else {
    lastSession = JSON.parse(lastCode);
    editor.getSession().setMode(lastSession.mode);
    editor.setValue(lastSession.lastCode);
  }

  function saveCode(){
    key = 'problem-{{ problem.id }}';
    mode = editor.getSession().getMode().$id;
    lastCode = editor.getValue();
    data = JSON.stringify({"mode": mode, "lastcode": lastCode});
    setCookie(key, data, 1);
  }

  autoSave = setInterval(function() { saveCode(); }, 60000);

  function changeLanguage(arg) {
    if (arg.value == 'cpp') {
      editor.getSession().setMode("ace/mode/c_cpp");
      editor.setValue(
`#include <iostream>

using namespace std;

int main()
{
    // your code goes here
    int val;
    cin >> val;
    cout << val;
    return 0;
}`
      );
    } else if (arg.value == 'js') {
      editor.getSession().setMode("ace/mode/javascript");
      editor.setValue(
`const readline = require('readline');

const main = readline.createInterface({
    input: process.stdin,
    output: process.stdout
});

main.on('line', answer => {
    // your code goes here
    process.stdout.write('true');
    main.close();
});`
      );
    } else {
      editor.getSession().setMode("ace/mode/java");
      editor.setValue(
`import java.util.*;
import java.lang.*;
import java.io.*;

// Don't replace this class name with another!
public class CodeChallenges
{
    public static void main(String[] args)
    {
        // your code goes here
        Scanner s = new Scanner(System.in);
        int val = s.nextInt();
        System.out.print(val);
    }
}`
      );
    }
  }
</script>
