{% load static eventtags %}
<div name="card" class="card border-secondary">
  <a data-toggle="collapse" href="#" data-target="#collapse">
    <div class="card-header card-header" ><i class="fa fa-search fa-lg" style="color: #00a9dc"></i>
      <b style="color: #00a9dc">Filter Advance</b>
    </div>
  </a>
  <div class="card-body collapse" id="collapse">
    <div class="row">
      <div class="form-group-filter col-sm-6">
          <input class="form-control" id="myInput" type="text" placeholder="Search.." readOnly>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      {% for event in events %}
        {{ event|get_card:user|safe }}
      {% endfor %}
    </div>
  </div>
</div>

<script>
  var eventList = [];
  {% for event in events %}
    {% if event.get_current_status != 0 %}
      eventList.push({
        id: null,
        {% if event.get_current_status == 2 %}
            date: {{ event.time_start.timestamp }},
        {% else %}
            date: {{ event.time_end.timestamp }},
        {% endif %}
        target: document.getElementById("countdown-{{ event.pk }}"),
      });
    {% endif %}
  {% endfor %}

  eventList.forEach(function(element) {
    element.id = setInterval(function () {
      getCountdown(element.date, element.target);
    }, 1000);
    {% comment %}
      console.log("Create Interval Countdown :: " + element.id);
    {% endcomment %}
  });
</script>

