{% load static codewartags %}
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card border-primary">
        <div class="card-header">
          <i class="fa fa-history"></i>
          <b>History</b>
        </div>
        <div class="card-body">
          <table class="table" id="result_list">
            <thead>
              <tr>
                <th scope="col" class="column">
                  <div class="text">#</div>
                  <div class="clear"></div>
                </th>
                <th scope="col" class="ortable">
                  <div class="text">Problem</div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text">Time</div>
                  <div class="clear"></div>
                </th>
                <th scope="col">
                  <div class="text">Status</div>
                  <div class="clear"></div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for attempt in attempts %}
              <tr>
                <td>
                  {{ attempt.id }}
                </td>
                <td>
                  {{ attempt.problem.title|safe }}
                </td>
                <td>
                  {{ attempt.created_at }}
                </td>
                <td>
                  {{ attempt.status|get_status }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

