{% load static %}
<div class="row">
  <div class="col-lg-12">
    <div class="card border-primary">
      <div class="card-header">
        <i class="fa fa-money"></i>
        <b>Problem</b>
      </div>
      <div class="card-body">
        <img style="width: 90%" src="/media/guide/guide_question.png" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card border-primary">
      <div class="card-header">
        <i class="fa fa-paw"></i>
        <b>Editor</b>
      </div>
      <div class="card-body">
        <img style="width: 90%" src="/media/guide/guide_editor.png" />
      </div>
    </div>
  </div>
</div>

