{% if problem.published == False %}
  <span class="badge badge-pill badge-danger">
    <i class="icon-lock"></i>
  </span>
{% endif %}

<span class="badge badge-info float-right">
  <i class="icon-ghost"></i>
  {{ problem.get_type_display }}
</span>

{% if problem.required_score %}
<span class="badge badge-warning float-right d-md-down-none">
  <i class="icon-key"></i>
  {{ problem.required_score }}
</span>
{% endif %}

<span class="badge badge-danger float-right d-md-down-none">
  <i class="icon-shield"></i>
  {{ problem.get_real_score }}
</span>

{% if problem.penalty_score %}
  <span class="badge badge-warning float-right">
    <i class="icon-fire"></i>
    {{ problem.penalty_score }}
  </span>
{% endif %}

{% if problem.type == 0 %}
<span class="badge badge-success float-right d-md-down-none">
  <i class="icon-rocket"></i>
  {{ problem.count_testcase }}
</span>
{% endif %}

{% if problem.max_wrong %}
  <span class="badge badge-dark float-right">
    <i class="icon-clock"></i>
    {{ problem.max_wrong }}
  </span>
{% endif %}

{% if problem.max_attempts %}
  <span class="badge badge-warning float-right d-md-down-none">
    <i class="icon-graduation"></i>
    {{ problem.max_attempts }}
  </span>
{% endif %}


