{% load codewartags %}
<div class="animated fadeIn">
  <div class="row">
    {% for problem in object_list %}
    <div class="col-lg-12">
      <div class="card border-primary">
        <div class="card-header" data-toggle="collapse" href="#" data-target="#collapse{{ problem.id }}" >
          {% comment %}
            <a data-toggle="collapse" href="#" data-target="#collapse{{ problem.id }}">
          {% endcomment %}
          <font color="{{ problem|get_colored_title:user }}">
            <b>{{ problem.event.prefix|get_event_prefix }} {{ problem.title }} - [{{ problem.user }}]</b>
          </font>
          {% comment %}
            </a>
          {% endcomment %}
          {% include "codewar/menubar.html" %}
        </div>
        <div class="card-body collapse in" id="collapse{{ problem.id }}">
          {{ problem|get_problem_content:user|safe }}
          <hr>
          {{ problem|get_button:user|safe }}
          {% include "codewar/problems/list-solved.html" %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include "codewar/problems/show-problem.html" %}

