{% load static %}
<div class="row">
  <div class="col-lg-8">
    <form id="formprofile" action="/codechallenges/profile/" method="post">
      {% csrf_token %}
      <div class="card">
        <div class="card-header">
          <strong>Basic info</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-lg-7">
              <label for="fullname">First Name</label>
              <input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.first_name }}" placeholder="Enter your first name">
            </div>
            <div class="form-group col-lg-7">
              <label for="fullname">Last Name</label>
              <input type="text" class="form-control" name="last_name" id="last_name" value="{{ user.last_name }}" placeholder="Enter your last name">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#formprofile" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</a>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <strong>Avatar</strong>
      </div>
      <div class="card-body">
        <form id="formavatar" action="/codechallenges/profile/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <p>
              <img src="/media/img/avatar.png" width="150" height="150">
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
