{% load static codewartags %}
<div class="tab-pane active" id="timeline" role="tabpanel" aria-expanded="true">
  {% for attempt in attempts %}
  <div class="callout callout-{% cycle "warning" "success" "info" "danger" "primary" %} m-0 py-3">
    <div>
      {{ attempt.title }}
    </div>
    <small class="text-muted mr-3">
      <i class="icon-calendar"></i>&nbsp;{{ attempt.datetime }}
    </small>
    <div>
      <small class="text-muted"><i class="icon-user"></i><a
          href="#codechallenges">&nbsp;{{ attempt.participant|get_full_name }}</a></small>
      <small class="text-muted">{{ attempt.score|show_score_admin:user|safe }}</small>
    </div>
  </div>
  <hr class="mx-3 my-0">
  {% endfor %}
</div>

<div class="tab-pane" id="top10" role="tabpanel" aria-expanded="false">
  {% for score in scores %}
    {% if forloop.counter0 == 0 %}
    <div class="callout callout-primary m-0 py-2 text-muted text-center bg-light text-uppercase">
      <small><b>Top 10</b></small>
    </div>
    {% endif %}
    {% if forloop.counter0 == 10 %}
    <div class="callout callout-danger m-0 py-2 text-muted text-center bg-light text-uppercase">
      <small><b>And Friends</b></small>
    </div>
    {% endif %}
    {% if forloop.counter0 < 10 %}
    <div class="callout callout-{% cycle "warning" "success" "info" "danger" "primary" %} m-0 py-3">
      <div class="avatar float-right">
        <img src="/media/img/avatar.png" class="img-avatar">
      </div>
      <div>
        <i class="icon-user"></i>
        <a href="#codechallenges">
          &nbsp;{{ score.participant|get_full_name }}
        </a>
      </div>
      <small class="text-muted"><i class="icon-chart"></i>&nbsp;{{ forloop.counter }}</small>
      <small class="text-muted mr-3">{{ score.score|show_score_admin:user|safe }}</small>
    </div>
    <hr class="mx-3 my-0">
    {% endif %}
  {% endfor %}
</div>
