{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <title>Login</title>

    <!-- Icons -->
    <link href="{% static "/coreui/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "/coreui/simple-line-icons.css" %}" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="{% static "/coreui/style.css" %}" rel="stylesheet">
  </head>

  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">404</h1>
            <h4 class="pt-3">Oops! You're lost.</h4>
            <p class="text-muted">The page you are looking for was not found.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


