{% load static %}

<div class="row justify-content-center " style="margin-top: 10%">
  <div class="col-md-5">
    <div class="card-group">
      <div class="card p-4">
        <div class="card-body">
          <form role="form" action="/forgotpassword" method="post" id="formresetpassword">
            {% csrf_token %}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
            <input type="hidden" name="next" value="/" />
            {% endif %}
            <h1>Reset password</h1>
            <p class="text-muted">Enter your email address below.</p>
            {% if info %}
              <p class="text-danger">* {{ info }}</p>
            {% endif %}
            <div class="input-group mb-3">
              <div class="input-group-prepend input-group-addon">
                  <span class="input-group-text">@</span>
              </div>
              <input class="form-control" placeholder="Enter your email" id="email" name="email" type="text">
            </div>
            <a href="#formresetpassword" class="btn btn-block btn-success">send email</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
