{% load static codewartags %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/media/img/favicon.png">
    <title>Code Challenges</title>

    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/simple-line-icons.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/toastr.css" %}" rel="stylesheet">
    <link href="{% static "css/codechallenge.css" %}" rel="stylesheet">
  </head>

  <body class="app header-fixed sidebar-fixed sidebar-minimized aside-menu-fixed">
    <header class="app-header navbar">
      {% include "components/header.html" %}
    </header>

    <div class="app-body">
      <div class="sidebar">
        {% include "components/sidebar.html" %}
      </div>

      <main class="main">
        <div class="container-fluid-main">
          <div id="ui-view"></div>
        </div>
      </main>

      <aside class="aside-menu">
        {% include "components/aside-menu.html" %}
      </aside>

      <div class="modal fade" id="feedback" role="dialog">
        {% include "modal/feedback.html" %}
      </div>
      <div id="showSolutionModal" class="modal fade" role="document">
        {% include "modal/show-solution.html" %}
      </div>
    </div>

    <footer class="app-footer">
      {% include "components/footer.html" %}
    </footer>

    {% include "components/js-file.html" %}
  </body>
</html>
