{% load static %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card-group">

      <div class="card p-4">
        <div class="card-body">
          <form id="formlogin" role="form" action="/login" method="POST">
            {% csrf_token %}
            <h1>Login</h1>
            <p id="text-msg" class="text-danger"></p>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" name="email" class="form-control" placeholder="Username">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" name="password" class="form-control" placeholder="Password" onkeypress="submitLogin()">
            </div>
            <div class="row">
              <div class="col-6">
                <a id="login" class="btn btn-primary px-4" href="#formlogin">Login</a>
              </div>
              <div class="col-6 text-right">
                <a class="btn btn-link px-0" href="#forgotpassword">Forgot password?</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
        <div class="card-body text-center">
          <div>
            <h2>Sign up</h2>
            <p>If you don't already have an account, register for one.</p>
            <a class="btn btn-primary active mt-3" href="#register">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function submitLogin() {
    // Press enter to login
    if(event.keyCode == '13'){
      $("#login").click();
    }
  }
</script>

