{% load static %}
<div class="row justify-content-center " style="margin-top: 10%">
  <div class="col-md-5">
    <div class="card-group">
      <div class="card p-4">
        <div class="card-body">
          <form class="card-body" id="formregister" action="/register" method="post">
            {% csrf_token %}
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <p id="text-msg" class="text-danger"></p>
            <div class="input-group mb-3">
              <div class="input-group-prepend input-group-addon">
                <span class="input-group-text">@</span>
              </div>
              <input class="form-control" placeholder="Enter your email" id="email" name="email" type="text">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend input-group-addon">
                <span class="input-group-text">
                  <i class="icon-lock"></i>
                </span>
              </div>
              <input class="form-control" placeholder="Enter your password" id="password" name="password" type="password" required>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend input-group-addon">
                <span class="input-group-text">
                  <i class="icon-lock"></i>
                </span>
              </div>
              <input class="form-control" placeholder="Re-enter your password" id="confirm_password" name="confirm_password" type="password" required>
            </div>
            <a href="#formregister" class="btn btn-block btn-success">Create Account</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
