{% load static %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i> Timeline</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#top10" role="tab"><i class="icon-trophy"></i> Leaderboard</a>
  </li>
</ul>
{%if has_joined_event %}
  {%if is_leaderboard_visible %}
    <div class="tab-content" id="topten"></div>
  {%endif%}
{%endif%}

