{% load static %}
<button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
  <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" href="#event"></a>
  <nav>
	<ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item">
        <a class="nav-link" href="#event">Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#codechallenges/">Code Challenge</a>
      </li>
	</ul>
  </nav>

  <ul class="nav navbar-nav d-md-down-none ml-auto">
	{% if user.is_authenticated %}
	<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="/media/img/avatar.png" class="img-avatar">
			{{user.get_full_name}}
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header text-center">
          <strong>Settings</strong>
        </div>
        <div class="divider">
        </div>
        <a class="dropdown-item" href="#codechallenges/profile"><i class="fa fa-user"></i> Profile</a>
      </div>
    </li>
	{% endif %}

</ul>

<button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button">
  <span class="navbar-toggler-icon"></span>
</button>
<button class="navbar-toggler mobi-aside-menu-toggler d-lg-none" type="button">
  <span class="navbar-toggler-icon"></span>
</button>

