{% load static %}
<script src="{% static "/ace-builds/src-noconflict/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "/ace-builds/src-noconflict/ext-language_tools.js" %}"></script>
<script src="{% static "/jquery.min.js" %}"></script>
<script src="{% static "/popper.min.js" %}"></script>
<script src="{% static "/bootstrap.min.js" %}"></script>
<script src="{% static "/pace.min.js" %}"></script>
<script src="{% static "/toastr.min.js" %}"></script>

<script src="{% static "js/reconnecting-websocket.js" %}"></script>
<script src="{% static "js/taskhelper.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
