{% load static %}
<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-title">
      Contests
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#event"><i class=" icon-badge"></i>Event</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#codechallenges/"><i class="icon-puzzle"></i>Code Challenges</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#codechallenges/history"><i class="icon-clock"></i>History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#codechallenges/howto"><i class=" icon-graduation"></i>Guide</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#codechallenges/me"><i class="icon-wallet"></i>Profile</a>
    </li>
    <li class="nav-title">
      Feedback
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#feedback"><i class="icon-plane"></i>Send Feedback</span></a>
    </li>
    <li class="nav-item mt-auto">
      {% if user.is_authenticated %}
        <a class="nav-link nav-link-danger" href="/logout" target="_top"><i class="icon-logout"></i> Logout</a>
      {% else %}
        <a class="nav-link nav-link-success" href="#login" target="_top"><i class="icon-login"></i> Login</a>
      {% endif %}
    </li>
  </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>

