{% for problem in problems %}
  {% if not problem.solution_shown %}
  <div class="modal fade" id="problem{{ problem.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <form id="formtextsubmit{{ problem.id }}" class="comment-form"
          action="/codechallenges/attempt/{{ problem.id }}/" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <h4 class="modal-title">{{ problem.title }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            {% if problem.type == 2 %}
            <label class="col-md-12 col-form-label">Choose the correct answer</label>
            <div class="col-md-12">
              {% for testcase in problem.testcase.all %}
              <div class="radio">
                <label>
                  <input type="radio" name="answer" value={{ testcase.id }}> {{ testcase.input }}
                </label>
              </div>
              {% endfor %}
            </div>
            {% elif problem.type == 3 %}
            <label class="col-md-12 col-form-label">Choose the correct answer(s)</label>
            <div class="col-md-12">
              {% for testcase in problem.testcase.all %}
              <div class="checkbox">
                <label><input type="checkbox" name="answer" value={{ testcase.id }}> {{ testcase.input }}</label>
              </div>
              {% endfor %}
            </div>
            {% elif problem.type == 1 %}
            <input type="text" name="answer" class="form-control" placeholder="Input your answer">
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="hidden" name="id" value="{{ problem.id }}">
            <a href="#formtextsubmit{{ problem.id }}" data-dismiss="modal" class="btn btn-primary">Submit</a>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  {% else %}
  <div class="modal fade" id="showSolution{{ problem.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ problem.title }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <strong>Solution: </strong>{{ problem.solution|default:problem.testcase.first }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
          <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
  </div>
  {% endif %}
{% endfor %}

